html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.foto_perfil{
    height: auto;
    width: 100px; 
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    text-align: end;
    align-items: center;
}

.foto_add_remedio{
    height: auto;
    width: 200px; 
}

main{
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    text-align: center;
    line-height: 1.5;
}

/* .rodape-lista{
    padding: 0; 
    display: flex; 
    justify-content: space-between;
    height: 100%;
} */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.divisao-quadrados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1rem solid black;
    padding: 1rem;
    text-decoration: none;
    color: black;
}

/* .rodape-lista li{
    flex: 1; 
    width: 500px; 
    height: 500px; 
    text-align: center;
}

.rodape-lista a{
    padding: 1rem; 
    border: 0.1rem solid black;
    display: flex;  
    text-align: center; 
} */

